.navbar {
  background: #ffffff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  padding: 15px 30px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.logo {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;

}

.navbar-links a {
  padding: 8px 15px;
  color: #5f6368;
  text-decoration: none;
  border-radius: 3px;
}

.navbar-links a:hover {
  background: #5a6fd6;
  color: #ffffff;
}

.navbar-links a.active {
  background: #5a6fd6;
  color: #fff
}

.btn-salir {
  padding: 8px 20px;
  background: white;
  color: #5f6368;
  cursor: pointer;
  border: none;
}

.btn-salir:hover {
  background: #e0e0e0;
  border-radius: 3px;
}
