html, body {
  height: 100%;
}

.btn {
  border-radius: 5px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100%;
    padding-top: 50px;
}

.body {
    max-width: 300px;
    width: 100%;
    text-align: center;
}

